extends ../_template

block variables
  - var title = 'Flexbox'
  - var flex = true

block content
  .sidebar
    .panel
        .panel__user
            | Администратор
        .panel__options
            a(href="#").panel__options-btn
                i.fa.fa-home
            a(href="#").panel__options-btn
                i.fa.fa-envelope
                .panel__options-counter 12
    .user
        .user__photo-container
            .user__photo
                img(src=`/assets/img/content/avatar.jpg` alt="")
        .user__name
            .user__name-title
                | Константин Константинов
            a(href="#").user__name-link Профиль
    nav.menu
      ul.menu
        - 
          var menu = [
            ['Консоль', 'home'],
            ['Виджеты', 'th'],
            ['Консоль', 'envelope'],
            ['Оформление', 'home']
          ]
        
        each item, index in menu
           li.menu__item
              a(href="#").menu__link
                  .menu__link-icon
                      i.fa(class=`fa-${item[1]}`)
                  .menu__link-title #{item[0]}
              case index
                when 1
                  a(href="#").menu__options Обновления
                when 2
                  a(href="#").menu__options.menu__options_bg_red 117
    a(href="#").menu__link.sidebar__exit
      .menu__link-icon
          i.fa.fa-power-off
      .menu__link-title Выйти из профиля
  .content
      .header
          .header__reload
              a(href="#").header__reload-link
                  i.fa.fa-refresh
          .header__search
              form.header__search-form
                  input(name="" type="text" placeholder="Поиск по панели управления").header__search-input
                  button(type="submit").header__search-button
                      i.fa.fa-search
          .header__user
              .header__user-counter 10
              .header__user-name Константин Константинов
              .header__user-photo
                  .header__user-avatar
                      img(src=`/assets/img/content/avatar.jpg` alt="")
          .header__settings
              i.fa.fa-gear
      .content-wrapper
          section.section.section_white
              -
                  var icons = {
                      eye : 'Просмотров',
                      pen : "Заявок",
                      mana : 'Мана',
                      hands : 'Клиентов'
                  }
              ul.icons
                  each desc, icon in icons
                      li.icons__item
                          .icons__pic
                              img(src=`/assets/img/icons/${icon}.png` alt="")
                          .icons__counter
                              | 1 500
                          .icons__desc= desc

          section.section
              .visitors__container
                  - for (var i = 0; i < 2; i++)
                      .visitors(class=`${ ((i == 1) ? ' visitors_blue' : '')}`)
                          .visitors__title Посещения
                          ul.visitors__daily
                              each item in ['За все время:', "За месяц:", "Сегодня:"]
                                  li.visitors__daily-item
                                      .visitors__daily-title= item
                                      .visitors__daily-count 4 316
                          .visitors__bar
                              .visitors__bar-amount
                          .visitors__desc
                              | На 10% выше <span>прошлого месяца</span>
          section.section.section_white
              .section__title Последние посты
              ul.posts
                  - for (var i = 0; i < 2; i++)
                      each item in ['Подводный мир', "Чего бы такого съесть?", "Как я научился плавать"]
                        li.posts__item
                            .posts__desc= item